body {
    background-color: #efeeee;
}

#scheduled-meetings-title {
    margin-left: 96px;
    margin-top: 50px;
}

div.scheduled-meetings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: separate;
    border-spacing: 1em ;
    border-radius: 8px;
    width: 960px;
    background-color: white;
}

tr.table-header {
    text-align: left;
    background-color: white;
}

tr.table-body {
    background:#ffffff;
    box-shadow:0 2px 4px 0 #bdbdbd;
    border-radius:8px;
    height:56px;
}


