@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#schedule-form-title {
    font-family: 'Montserrat', sans-serif;
    margin-left: 96px;
    margin-top: 72px;
}

#schedule {
    display: flex;
    justify-content: center;
}

#schedule > div.add-new-schedule > form {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    padding: 20px 20px 40px 20px;
    height: 404px;
    width: 550px;
    border-radius: 15px;
    margin-left: 42px;
    margin-right: 20px;
}

input[type="text"] {
    font-family: 'Montserrat', sans-serif;
    flex: 0 20px 200px;
    background-color: #efeeee;
    width: 540px;
    height: 35px;
    margin-bottom: 5px;
    margin-top: 10px;
    border-color: #bdbdbd;
    border-radius: 5px;
}

#schedule > div.add-guests-field {
    background-color: white;
    padding: 20px 20px 40px 20px;
    height: 404px;
    width: 345px;
    border-radius: 15px;
}

#schedule > div.add-guests-field > ul {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    margin-left: 65px;
}

label {
    font-family: 'Montserrat', sans-serif;
    display: block;
    color: black;
    margin-top: 1em;
    margin-bottom: 2em;
    width: 100%;
}

select {
    font-family: 'Montserrat', sans-serif;
    display: block;
    border-style: none;
    margin-top: 15px;
}

input[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px;
    border: none;
    padding: 11px 25px 11px 25px;
    font-size:14px;
    color:#ffffff;
    letter-spacing:0.06px;
    background-color: #ff7f27;
    margin-left: 185px;
}