@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#top-nav-bar {
    background-color: #003049;
    padding: 20px 20px 20px 20px;
}

#search-box {
    font-family: 'Montserrat', sans-serif;
    margin-left: 77px;
    height: 35px;
    width: 500px;
    border-radius: 15px;
}

#top-nav-bar > header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

#top-nav-bar > header > nav {
    justify-self: flex-end;
}

#top-nav-bar > header > nav > ul {
    display: flex;
    list-style-type: none;
}

#top-nav-bar > header > nav > ul > li {
    margin: 0 15px;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.1px;
    text-decoration: none;
}