@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

div.top-nav-bar {
    text-align: center;
    background-color: #003049;
    padding: 20px 20px 20px 20px;
}

#search-box {
    font-family: 'Montserrat', sans-serif;
    margin-left: 77px;
    height: 35px;
    width: 500px;
    border-radius: 15px;
}

::-webkit-input-placeholder { 
    color: #003049;
  }

div.top-nav-bar > header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

div.top-nav-bar > header > nav {
    text-align: center;
    justify-self: flex-end;
    margin-right: 80px;
}

div.top-nav-bar > header > nav > ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

div.top-nav-bar > header > nav > ul > li {
    display: inline;
    margin: 0 15px;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.1px;
    text-decoration: none;
}

#logout {
    font-family: 'Montserrat', sans-serif;
    color: black;
    border-radius: 50px;
    background: white;
    padding: 10px 10px 10px 10px;
}

#logout > a {
    color: #ff7f27;
}